## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [10]:
import math

In [ ]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [4]:
dir(x) #check what methods I could use
# capitalize()	Converts the first character to upper case
# replace()	Returns a string where a specified value is replaced with a specified value (w3 school)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [10]:
new_x = x.replace(" ", "").capitalize()
print(new_x)

Diclorodifeniltricloroetanodichlorodiphenyltrichloroethane

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [11]:
A, B, C, D = ('word', 15, 3.14, "list") #tuple
print(A, B, C, D, sep= " " )

word 15 3.14 list

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [7]:
w, h = input("Please enter your weight first and then your height and seperate them by a space: ").split() #The split() method splits a string into a list.
BMI = float(w)/float(h)**2
print(BMI)

Please enter your weight first and then your height and seperate them by a comma:  49,1.89

13.717421124828533

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [8]:
if BMI <= 18.4:
    print("You are underweight")
elif BMI <= 24.9:
    print("You have a normal weight according to the BMI")
elif BMI <= 29.8:
    print("Pre-obesity")
elif BMI <= 34.8:
    print("Obesity class I")
elif BMI <= 39.8:
    print("Obesity class II")
else:
    print("Obesity class III")

You are underweight

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [19]:
# A factorial is a function that multiplies a number by every number below it. For example 5!= 5*4*3*2*1=120
var = int(input("please enter a random integer: "))
fact = 1
for i in range(1, var+1): # to iterate until i reaches the input var
    fact = fact*i
print(f"{var}! = {fact}")

please enter a random integer:  4

4!= 1
4!= 2
4!= 6
4!= 24

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [35]:
num_sum = 0
num = 0
while num != -1:
    num_sum += num
    num = int(input("please enter any random integer: "))
print(f"sum of numbers {num_sum}")

please enter any random integer:  2
please enter any random integer:  3
please enter any random integer:  -1

sum of numbers 5

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [51]:
first_name, hours_worked, salary_per_hour = input("please enter the first name, the amount of hours this person worked and the salary per hour and seperate the values by comma: ").split(",")
salary_sum = float(hours_worked)*float(salary_per_hour)
print(f"the total salary of {first_name} is: ", '{:.2f}'.format(salary_sum))
      #'{0:.3f}'.format(num) this example formats with 3 decimals

please enter the first name, the amount of hours this person worked and the salary per hour and seperate the values by comma:  elli, 23, 12

the total salary of elli is:  2.8e+02

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [2]:
# First the user shall enter three numbers.
A, B, C = input("please enter three floating numbers A, B, and C, sperated by comma: ").split(",")

# As the numbers are read as str I cannot use them for calculation. 
# so I convert them to floats 
A, B, C = float(A), float(B), float(C)

please enter three floating numbers A, B, and C, sperated by comma:  23.12, 32.19, 54.74

    a) the area of the triangle rectangle with A as the base and C as the height.

In [22]:
area = (A*B)/2
print("The area of the triangle is: ", area)

The area of the triangle is:  372.1164

    b) the area of the circle of radius C. (pi = 3.14159)

In [3]:
area_circle = 3.14159*C**2
print("The area of the circle with the radius of 54.74 is: ", area_circle)

The area of the circle with the radius of 54.74 is:  9413.672647484002

    c) the area of the trapezoid that has A and B for bases and C for height.

In [4]:
# area of a trapezoid is the average width times the altitude: so h*(base_line1+base_line2/2)
area_trap = C*((A+B)/2)
print("The area of the trapezoid is: ", area_trap)

The area of the trapezoid is:  1513.8347

    d) the area of the square that has side B.

In [5]:
area_sq = B**2
print("Area of the square with side B is: ", area_sq)

Area of the square with side B is:  1036.1961

    e) the area of the rectangle that has sides A and B.

In [7]:
area_rect = A*B
print("the area of the rectangle with the sides A and B is: ", area_rect)

the area of the rectangle with the sides A and B is:  744.2328

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [24]:
a, b, c = input("please enter three floating numbers a, b, and c, sperated by comma: ").split(",")
a, b, c = float(a), float(b), float(c)

# A quadratic equation always has two roots, if complex roots are included and a double root is counted for two.
# x represents an unknown, and a, b, and c represent known numbers, where a ≠ 0. 
# If a = 0, then the equation is linear, not quadratic, as there is no {\displaystyle ax^{2}}ax^2 term. 
# The quadratic formula for the roots of the general quadratic equation
# x = (-b ± sqrt of (b^2-4ac))/2*a


if a == 0:
    print("the equation is not quadratic")
else: 
    root_var = (b**2)-(4*a*c)   # define the squarcheck numerator root
    if root_var == 0: # use equation without the root if it is zero
        var = (-b/2*a)
        print("the root of the equation is", root_var)
    elif root_var < 0:
        print("We cannot take the root of a number that is below 0")
    else: 
        x = (-b + math.sqrt(root_var))/(2*a)
        y = (-b - math.sqrt(root_var))/(2*a)
        print("the squar roots of x and y are: ", x, y)

please enter three floating numbers a, b, and c, sperated by comma:  2, -5, 4

We cannot take the root of a number that is below 0

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [26]:
# for x coordinates
x1, x2 = input("please enter two floating numbers corresponding to coordinates x1 and x2, sperated by comma: ").split(",")
x1, x2 = float(x1), float(x2)

# for y coordinates
y1, y2 = input("please enter two floating numbers corresponding to coordinates x1 and x2, sperated by comma: ").split(",")
y1, y2 = float(x1), float(x2)

#calculate the distance
d = math.sqrt(((x1 - x2)**2) + ((y1 - y2)**2))
print(f"the distance between the two coordinates is {d}")

please enter two floating numbers corresponding to coordinates x1 and x2, sperated by comma:  3235.23, 3252.68
please enter two floating numbers corresponding to coordinates x1 and x2, sperated by comma:  3215.32, 5242.93

the distance between the two coordinates is 24.67802666341025

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [29]:
# Cartesian coordinates allow one to specify the location of a point in the plane,
# or in three-dimensional space. The Cartesian coordinates (also called rectangular coordinates) of a point 
# are a pair of numbers (in two-dimensions) or a triplet of numbers (in three-dimensions) 
# that specified signed distances from the coordinate axis.

x, y = input("please enter two floating numbers corresponding to coordinates x1 and x2, sperated by comma: ").split(",")
x, y = float(x), float(y)

if x == 0 and y == 0:
    print('you are at the origin')
elif y == 0:
    print('x axis')
elif x == 0:
    print('y axis')
elif x > 0 and y > 0: 
    print('q1') #quadrant one coordinate direction is positive for x and y
elif y > 0:
    print('q2') # second quadrant if y is positive direction
elif y < 0 and x < 0: 
    print('q3') #third quadrant if negative direction for both x and y
else:
    print('q4')

please enter two floating numbers corresponding to coordinates x1 and x2, sperated by comma:  -2, -5

q3

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [32]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2] # Select single value by row and and column_all rows but only 2 columns are called
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

In [41]:
phone_code = int(input("Please enter a country code number"))
# informing to which country the code belongs to by creating a dict of the first 10 entries
country_codes = {43:"Austria",
             32:"Belgium",
             359:"Bulgaria",
             385:"Croatia",
             357:"Cyprus",
             420:"Czech Rep",
             45:"Denmark",
             372:"Estonia",
             359:"Finnland",
             33:"France",
            }
# checking if the entered code is in the dictionary
if phone_code in country_codes.keys(): #Dictionary holds key : value pair, I call the value by key
    print(country_codes[phone_code])
else:
    print("The country code you entered does not exist in Europe")

Please enter a country code number 43

Austria

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [49]:
# from geeksforgeeks.org
# take multiple inputs in array
# input_int_array = [ int(i) for i in input().split()]

values = [int(i) for i in input("Please enter 6 numbers that are seperated by a comma: ").split(",")]
counter_pos = 0
total = 0
for i in values:
    total += total
    if i > 0:
        counter_pos += 1
print("the amount of positive numbers is", counter_pos)

Please enter 6 numbers that are seperated by a comma:  3, -5, -2, 7, 8, 4

the amount of positive numbers is 4

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [57]:
N = int(input("Please enter a number: "))
for i in range(1, N+1):
    if i%2 == 0: #then it would be even
        print (i**2)
    else:
        print("uneven number")

Please enter a number:  7

uneven number
4
uneven number
16
uneven number
36
uneven number

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [1]:
N = int(input("Please enter a number: "))

# example on how to use one line code that prints a string
# x = "do nothing"
# print("done") if x == "do that" else "not done"
# output: 'not done'

class_1 = "even" if N%2 == 0 else "odd"
class_2 = "positive" if N > 0 else "negative"

if N == 0:
    print("NULL")
else:
    print(class_1, class_2)

Please enter a number:  3

odd positive

In [5]:
x = "do nothing"
print("done") if x == "do that" else "not done"

'not done'

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.

In [1]:
#An example of bubble sort. Starting from the beginning of the list, compare every adjacent pair, 
# swap their position if they are not in the right order (the latter one is smaller than the former one). 
# After each iteration, one less element (the last one) is needed to be compared until
# there are no more elements left to be compared.



# ask user to enter 6 integers and assign it to a var
nums = [int(i) for i in input("Please enter 6 integers and seperate by comma: ").split(",")]

def bubbleSort(nums):
      #use a nested for loop
    for i in range(0,len(nums)-1): 
        if nums[i] > nums[i+1] :
            nums[i], nums[i+1] = nums[i+1], nums[i] # tuple swap 
        
print ("The numbers sorted with Bubble sort are: ", bubbleSort(nums))

Please enter 6 integers and seperate by comma:  4, 2, 5, 6, 5, 8

The numbers sorted with Bubble sort are:  None